/* Avatar Component */

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

/* Functional Modifier: Circle */
.avatar.circle {
  border-radius: 50%;
}

/* Alternative class for testimonials */
.testimonial-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
